-#- first_athlete = results['athletes'].first
-#- first_athlete_scores = first_athlete['scores']

=render 'navigation', current_page: current_page, last_page: last_page

.table-responsive
  %table.table.table-striped
    %thead
      %tr
        %th.col-sm-1 Pos
        %th.col-sm-3 Name
        %th.col-sm-1 Points
        %th.nowrap 18.1
        %th.nowrap 18.2
        %th.nowrap 18.2a
        %th.nowrap 18.3
        %th.nowrap 18.4
        %th.nowrap 18.5

    %tbody
      - results['leaderboardRows'].each do |row|
        - athlete = row['entrant']
        %tr{:id => athlete['competitorId']}
          %td #{row['overallRank']}
          %td #{athlete['competitorName']}
          %td #{row['overallScore']}
          - row['scores'].each do |score|
            -#- scoredetails = score['scoredetails']
            -#- if scoredetails && scoredetails['breakdown']
            %td
              %button.poppy.btn.btn-default{type:'button', data:{toggle:"popover", placement:'top', container:'body', content:score['breakdown']}}
                #{score['rank']} (#{score['scoreDisplay']})
            -#- else
              %td #{score['scoredisplay']}
          - (row['scores'].count..6).each do |i|
            %td &nbsp;

=render 'navigation', current_page: current_page, last_page: last_page

:javascript
  $(document).ready(function(){
    $('.poppy').popover();

    $('.first-button').on('click', function(e){
      e.preventDefault();
      $('#filter_page').val('1');
      evaluate_current();
    });

    $('.last-button').on('click', function(e){
      e.preventDefault();
      $('#filter_page').val("#{last_page}");
      evaluate_current();
    });

    $('.prev-button').on('click', function(e){
      e.preventDefault();
      $('#filter_page').val("#{current_page.to_i - 1}");
      evaluate_current();
    });

    $('.next-button').on('click', function(e){
      e.preventDefault();
      $('#filter_page').val("#{current_page.to_i + 1}");
      evaluate_current();
    });


    $('.gotopage').on('change', function(e){
      e.preventDefault();
      $('#filter_page').val($(this).val());
      evaluate_current();
    });


  });
