.row{style:'padding-left:15px; padding-right:15px;'}
  .col-xs-12
    %p
      Brought to you by
      =link_to 'Wodfollow', 'http://www.wodfollow.com'
      and
      =link_to 'Bel Scoring', 'http://www.belscoring.com'
    %p
      We are CrossFit athletes that love tech.  For questions/comments
      =link_to 'Email','mailto:chris@wodfollow.com'


    .row
      .col-md-3.col-xs-12
        = semantic_form_for Filter.new({sort:4}) do |f|
          = f.input :division, label: false, as: :select, collection: Filter.open_division_options, include_blank: false, input_html:{class:'form-control'}
          -#= f.input :fittest, label: 'Fittest In', as: :select, collection: Filter.fittest_options, include_blank: false
          = f.input :fittest1, label: false, as: :select, collection: Filter.fittest1_options['1'], include_blank: false, input_html:{class:'form-control'}
          = f.input :sort, label: false, as: :select, collection: Filter.sort_options, include_blank: false, input_html:{class:'form-control'}
          = f.input :athlete, label:false, input_html:{class:'form-control typeahead', placeholder:'Athlete Name'}
          = f.input :page, as: :hidden
#results




=render 'leaderboard/js'